version: 2.1
orbs:
  node: circleci/node@4.3.0
jobs:
  test:
    executor:
      name: node/default
      tag: '14.16.0'
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run: node_modules/.bin/ember test
workflows:
  tests:
    jobs:
      - test
