ul.emberTagInput {
  margin: 0;
  padding: 5px;
  border: 1px solid lightgray;

  li {
    list-style-type: none;
    display: inline-block;
  }
}

li.emberTagInput-new {
  input {
    border: none;

    &:focus {
      outline: none;
    }
  }
}
