.emberTagInput {
  margin: 0;
  padding: 5px 5px 2px 5px;
  border: 1px solid lightgray;
  cursor: text;
}
.emberTagInput--readOnly {
  cursor: default;
}

.emberTagInput li {
  list-style-type: none;
  display: inline-block;
}

.emberTagInput-tag,
.emberTagInput-input {
  font: 12px sans-serif;
  padding: 5px 10px;
  margin-bottom: 3px;
}

.emberTagInput-tag {
  background: cornflowerblue;
  border-radius: 20px;
  margin-right: 5px;
  color: white;
}

.emberTagInput-tag--remove {
  opacity: 0.75;
}

.emberTagInput-remove:before {
  content: 'x';
  cursor: pointer;
}

.emberTagInput-input {
  border: none;
  padding-left: 0;
}
.emberTagInput-input:focus {
  outline: none;
}

.emberTagInput-input.is-disabled {
  display: none;
}
